.title {
    font-size: var(--text-5xl);
    margin-bottom: 20px;
}

.contactsSection {
    width: 100%;
}

.image {
    margin-top: 55px;
    width: 100%;
}

.image img {
    width: 97%;
}

.contacts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contacts a {
    text-decoration: none;
    color: var(--text-primary);
}

.contacts a .icon {
    font-size: var(--text-3xl);
}

@media (max-width: 768px) {
    .title {
        font-size: var(--text-4xl);
    }

    .image {
        margin-top: 20px;
    }

    .image img {
        width: 100%;
    }
}