.hero {
    min-height: 500px;
    border-bottom: 1px solid var(--border);
}

.about {
    color: var(--text-primary);
    position: absolute;
    margin: 40px 180px;
    width: 30%;
    top: 90px;
}

.hello p {
    font-size: var(--text-xl);
    padding: 3px;
    line-height: var(--text-4xl);
}

.hello h1 {
    font-size: var(--text-6xl);
    line-height: 55px;
}

.hello span {
    color: var(--accent);
}

.description {
    color: var(--text-secondary);
    margin: 20px 0;
}

.projectsLink {
    background: var(--accent);
    color: var(--text-primary);
    font-size: var(--text-base);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    text-align: center;
}

.cvButton {
    border: 1px solid var(--accent);
    padding: 11px 20px;
    background: var(--bg-primary);
    color: var(--accent);
    margin-left: 10px;
    border-radius: 5px;
    font-size: var(--text-sm);
    cursor: pointer;
    transition: 0.3s;
}

.mascot {
    position: absolute;
    width: 40%;
    left: 60%;
    top: 150px;
}

.mascot img {
    width: 300px;
    height: 300px;
}

.cvButton:hover {
    background: var(--accent-hover);
    color: var(--text-primary);
}

@media (max-width: 768px) {
    .about {
        margin: 65px 30px 5px 30px;
        width: 80%;
        position: relative;
        top: 0;
    }

    .hello p {
        font-size: var(--text-base);
    }

    .hello h1 {
        font-size: var(--text-5xl);
        line-height: var(--leading-3xl);
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .buttons .projectsLink {
        width: 100%;
        padding: 10px;
    }

    .buttons .cvButton {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .mascot {
        position: relative;
        width: 100%;
        left: 0;
        margin-top: 10px;
        text-align: center;
        top: 0;
    }

    .mascot img {
        width: 200px;
        height: 200px;
    }
}