.title {
    font-size: var(--text-5xl);
    margin-bottom: 20px;
}

.skillCards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.skillCards ul {
    list-style-type: none;
}

.skillCards ul li {
    padding: 5px;
    display: flex;
    align-items: center;
    color: var(--text-primary);
    gap: 10px;
}

.skillCards ul li .techIcon {
    font-size: var(--text-2xl);
    color: var(--text-secondary);
}

@media (max-width: 768px) {
    .skillCards {
        flex-direction: column;
        gap: 10px;
    }

    .title {
        font-size: var(--text-4xl);
    }
}